.CFUserTextEncoding
.MacOSX/
.Trash/
.account
.bzr.log
.cups/
.devutils
.dropbox/
.emacs.d.old/
.gem/
.gitk
.hgignore_global
.irb-history
.irbrc
.k5login
.lesshst
.pgpass
.psql_history
.rdebug_hist
.rvm/
.ssh/
.subversion/
.tmp/
.tmpMediaCache/
.viminfo
.zprofile
.zshenv
112312_000000.sql
20121123_o2_pvw
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
brew/
development_branch
gaspar_branch
junk/
logfile
pg_logfile
pgadmin.log
pnp.log
projects/
