<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="Application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.deltawalker.product.application.internal.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            class="com.deltawalker.product.application.internal.DeltaWalkerPerspective"
            id="com.deltawalker.product.application.deltaWalkerPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="com.deltawalker.activities.update"
            name="Disable P2 Update Menus">
      </activity>
      <activityPatternBinding
         activityId="com.deltawalker.activities.update"
         pattern="org\.eclipse\.equinox\.p2\.ui..*/.*">
      </activityPatternBinding>
   </extension>
   <extension
         id="deltaWalker"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.deltawalker.product.application.Application"
            name="%product.name">
         <property
               name="preferenceCustomization"
               value="preferences.ini"/>
         <property
               name="aboutImage"
               value="icons/about.png"/>
<!--
Contrary to what deltaWalker.product says, the size and position of the
startup message can only be controlled from here. Same for the message's 
foreground color:
          <property
                name="startupForegroundColor"
                value="C8D5EA"/>
For now just get rid of the startup message by giving its rectangle 0 size.
-->                
          <property
                name="startupMessageRect"
                value="0,0,0,0"/>
          <property
                name="startupProgressRect"
                value="0,280,455,15"/> 
         <property
               name="windowImages"
               value="icons/DeltaWalker16x16.png,icons/DeltaWalker32x32.png,icons/DeltaWalker48x48.png,icons/DeltaWalker64x64.png,icons/DeltaWalker128x128.png"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            icon="platform:/plugin/com.deltawalker.product.application/icons/DeltaWalker16x16.png"
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="com.deltawalker.product.application.intro"/>
      <introProductBinding
            introId="com.deltawalker.product.application.intro"
            productId="com.deltawalker.product.application.deltaWalker"/>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="intro/IntroContent.xml"
            id="com.deltawalker.product.application.introConfigId"
            introId="com.deltawalker.product.application.intro">
         <presentation home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="intro/css/shared.css"/>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            label="%differences.label"
            id="com.deltawalker.ui.defaultTheme">
      </themeElementCategory>
      <colorDefinition
            label="%addedColor.label"
            categoryId="com.deltawalker.ui.defaultTheme"
            value="82,128,208"
            id="ADDED">
         <description>
            %addedColor.description
         </description>
      </colorDefinition>
      <colorDefinition
            label="%deletedColor.label"
            categoryId="com.deltawalker.ui.defaultTheme"
            value="255,128,0"
            id="DELETED">
         <description>
            %deletedColor.description
         </description>
      </colorDefinition>
      <colorDefinition
            label="%differentColor.label"
            categoryId="com.deltawalker.ui.defaultTheme"
            value="0,128,0"
            id="DIFFERENT">
         <description>
            %differentColor.description
         </description>
      </colorDefinition>
      <colorDefinition
            label="%conflictingColor.label"
            categoryId="com.deltawalker.ui.defaultTheme"
            value="255,0,0"
            id="CONFLICTING">
         <description>
            %conflictingColor.description
         </description>
      </colorDefinition>
      <fontDefinition
            categoryId="com.deltawalker.ui.defaultTheme"
            id="com.deltawalker.ui.editorFont"
            label="%compareFontDefiniton.label"
            value="Courier New-regular-9">
         <fontValue
               os="macosx"
               ws="carbon"
               value="Monaco-regular-11"/>
         <description>
            %compareFontDefiniton.description
         </description>
      </fontDefinition>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.deltawalker.ui.actionSet"
            label="%DeltaWalkerActionSet.label"
            visible="true">
         <action
               label="%action.setEncoding.label"
               id="setEncoding"
               menubarPath="file/encoding"
               retarget="true"/>
         <action
               label="%action.pageSetup.label"
               menubarPath="file/print"
               retarget="true"
               id="pageSetup"/>
         <action
               label="%action.printPreview.label"
               menubarPath="file/print"
               retarget="true"
               id="printPreview"/>
         <action
               label="%action.createPatch.label"
               id="createPatch"
               retarget="true"
               menubarPath="file/group.file.createReport"
               tooltip="%action.createPatch.tooltip"/>
         <action
               label="%action.createReportHTML.label"
               id="createReportHTML"
               retarget="true"
               menubarPath="file/group.file.createReport"
               tooltip="%action.createPatch.tooltip"/>
<!--         
         <menu
               label="%menu.createReport.label"
               path="file/group.file.createReport"
               id="createReport">
            <separator name="createReport"/>
         </menu>
         <action
               label="%action.createReportXML.label"
               id="createReportXML"
               retarget="true"
               menubarPath="file/createReport/additions"
               tooltip="%action.createReportXML.tooltip"/>
         <action
               label="%action.createReportHTML.label"
               id="createReportHTML"
               retarget="true"
               menubarPath="file/createReport/additions"
               tooltip="%action.createReportHTML.tooltip"/>
-->               
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
<!-- category.file -->
      <command
            name="%command.compareFiles.name"
            categoryId="org.eclipse.ui.category.file"
            id="com.deltawalker.ui.file.compareFiles"/>
      <command
            name="%command.compareFolders.name"
            categoryId="org.eclipse.ui.category.file"
            id="com.deltawalker.ui.file.compareFolders"/>
      <command
            name="%command.compare.name"
            categoryId="org.eclipse.ui.category.file"
            id="com.deltawalker.ui.file.compare"/>
      <command
            name="%command.cancel.name"
            categoryId="org.eclipse.ui.category.file"
            id="com.deltawalker.ui.file.cancel"/>
      <command
            name="%command.open.name"
            categoryId="org.eclipse.ui.category.file"
            id="com.deltawalker.ui.file.open"/>
      <command
            name="%command.save.name"
            categoryId="org.eclipse.ui.category.file"
            id="com.deltawalker.ui.file.save"/>
      <command
            name="%command.saveAs.name"
            categoryId="org.eclipse.ui.category.file"
            id="com.deltawalker.ui.file.saveAsLocal"/>
      <command
            name="%command.saveAs.name"
            categoryId="org.eclipse.ui.category.file"
            id="com.deltawalker.ui.file.saveAsRemote"/>
      <command
            name="%command.closeAll.name"
            categoryId="org.eclipse.ui.category.file"
            id="com.deltawalker.ui.file.closeAll"/>
      <command
            name="%command.setEncoding.name"
            categoryId="org.eclipse.ui.category.file"
            id="com.deltawalker.text.ui.file.setEncoding"/>
      <command
            name="%command.swap.name"
            categoryId="org.eclipse.ui.category.file"
            id="com.deltawalker.ui.file.swap"/>
      <command
            name="%command.swap.name"
            categoryId="org.eclipse.ui.category.file"
            id="com.deltawalker.ui.file.swapMenuOne"/>
      <command
            name="%command.swap.name"
            categoryId="org.eclipse.ui.category.file"
            id="com.deltawalker.ui.file.swapMenuTwo"/>
      <command
            name="%command.diffSummary.name"
            categoryId="org.eclipse.ui.category.file"
            id="com.deltawalker.ui.file.diffSummary"/>
      <command
            name="%command.contextPrefs.name"
            categoryId="org.eclipse.ui.category.file"
            id="com.deltawalker.ui.file.contextPrefs"/>
      <command
            name="%command.prefs.name"
            id="com.deltawalker.ui.prefs"/>
            
<!-- category.edit -->         
      <command
            name="%command.edit.rename"
            categoryId="org.eclipse.ui.category.edit"
            id="com.deltawalker.ui.edit.rename"/>
      <command
            name="%command.copyRight.name"
            categoryId="org.eclipse.ui.category.edit"
            id="com.deltawalker.ui.edit.copyRight"/>
      <command
            name="%command.copyRight.name"
            categoryId="org.eclipse.ui.category.edit"
            id="com.deltawalker.ui.edit.copyRightMenuOne"/>
      <command
            name="%command.copyRight.name"
            categoryId="org.eclipse.ui.category.edit"
            id="com.deltawalker.ui.edit.copyRightMenuTwo"/>
      <command
            name="%command.copyLeft.name"
            categoryId="org.eclipse.ui.category.edit"
            id="com.deltawalker.ui.edit.copyLeft"/>
      <command
            name="%command.copyLeft.name"
            categoryId="org.eclipse.ui.category.edit"
            id="com.deltawalker.ui.edit.copyLeftMenuOne"/>
      <command
            name="%command.copyLeft.name"
            categoryId="org.eclipse.ui.category.edit"
            id="com.deltawalker.ui.edit.copyLeftMenuTwo"/>
      <command
            name="%command.moveRight.name"
            categoryId="org.eclipse.ui.category.edit"
            id="com.deltawalker.ui.edit.moveRight"/>
      <command
            name="%command.moveRight.name"
            categoryId="org.eclipse.ui.category.edit"
            id="com.deltawalker.ui.edit.moveRightMenuOne"/>
      <command
            name="%command.moveRight.name"
            categoryId="org.eclipse.ui.category.edit"
            id="com.deltawalker.ui.edit.moveRightMenuTwo"/>
      <command
            name="%command.moveLeft.name"
            categoryId="org.eclipse.ui.category.edit"
            id="com.deltawalker.ui.edit.moveLeft"/>
      <command
            name="%command.moveLeft.name"
            categoryId="org.eclipse.ui.category.edit"
            id="com.deltawalker.ui.edit.moveLeftMenuOne"/>
      <command
            name="%command.moveLeft.name"
            categoryId="org.eclipse.ui.category.edit"
            id="com.deltawalker.ui.edit.moveLeftMenuTwo"/>
      <command
            name="%command.mergeNonConflicts.name"
            categoryId="org.eclipse.ui.category.edit"
            id="com.deltawalker.ui.edit.mergeNonConflicts"/>
<!-- category.navigate -->         
      <command
            name="%command.previousDiff.name"
            categoryId="org.eclipse.ui.category.navigate"
            id="com.deltawalker.ui.navigate.previousDiff"/>
      <command
            name="%command.nextDiff.name"
            categoryId="org.eclipse.ui.category.navigate"
            id="com.deltawalker.ui.navigate.nextDiff"/>
      <command
            name="%command.previousConflict.name"
            categoryId="org.eclipse.ui.category.navigate"
            id="com.deltawalker.ui.navigate.previousConflict"/>
      <command
            name="%command.nextConflict.name"
            categoryId="org.eclipse.ui.category.navigate"
            id="com.deltawalker.ui.navigate.nextConflict"/>
      <command
            name="%command.previousEdit.name"
            categoryId="org.eclipse.ui.category.navigate"
            id="com.deltawalker.ui.navigate.previousEdit"/>
      <command
            name="%command.nextEdit.name"
            categoryId="org.eclipse.ui.category.navigate"
            id="com.deltawalker.ui.navigate.nextEdit"/>
<!-- category.window -->         
      <command
            name="%command.compare2WayVertical.name"
            categoryId="org.eclipse.ui.category.window"
            id="com.deltawalker.ui.window.compare2WayVertical"/>
      <command
            name="%command.compare3WayVertical.name"
            categoryId="org.eclipse.ui.category.window"
            id="com.deltawalker.ui.window.compare3WayVertical"/>
      <command
            name="%command.compare2WayHorizontal.name"
            categoryId="org.eclipse.ui.category.window"
            id="com.deltawalker.ui.window.compare2WayHorizontal"/>
      <command
            name="%command.compare3WayHorizontal.name"
            categoryId="org.eclipse.ui.category.window"
            id="com.deltawalker.ui.window.compare3WayHorizontal"/>
      <command
            name="%command.compare3WayAncestorOnTop.name"
            categoryId="org.eclipse.ui.category.window"
            id="com.deltawalker.ui.window.compare3WayAncestorOnTop"/>
<!-- category.help -->         
      <command
            name="%command.installLicense.name"
            categoryId="org.eclipse.ui.category.help"
            id="com.deltawalker.ui.help.installLicense"/>
      <command
            name="%command.submitFeedback.name"
            categoryId="org.eclipse.ui.category.help"
            id="com.deltawalker.ui.help.submitFeedback"/>
<!-- category.structure -->         
      <command
            name="%command.expandNodes.name"
            categoryId="org.eclipse.ui.category.window"
            id="com.deltawalker.ui.expandNodes"/>
      <command
            name="%command.selectNodes.name"
            categoryId="org.eclipse.ui.category.window"
            id="com.deltawalker.ui.selectNodes"/>
      <command
            name="%command.showNodes.name"
            categoryId="org.eclipse.ui.category.window"
            id="com.deltawalker.ui.showNodes"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
         
      <!-- Start from clean slate and define our key configuration - 
		   com.deltawalker.keyConfiguration - because the default key configuration
		   has key bindings for functionality we don't support and some of those key 
		   key bindings we want to use for our own functionality.
		   Using com.deltawalker.keyConfiguration requires that we explicitely [re]define
		    all key bindings we care about, incl. those of the text editor. -->
      <scheme
            name="%keyConfiguration.deltaWalker.name"
            description="%keyConfiguration.deltaWalker.description"
            id="com.deltawalker.keyConfiguration">
      </scheme>
      <!-- win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
           carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
      <key
            commandId="com.deltawalker.ui.file.compareFiles"
            sequence="M1+M2+F"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="com.deltawalker.ui.file.compareFolders"
            sequence="M1+M2+D"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="com.deltawalker.ui.file.compare"
            sequence="M1+R"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="com.deltawalker.ui.file.cancel"
            sequence="ESC"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="com.deltawalker.ui.file.open"
            sequence="M1+O"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.file.close"
            sequence="M1+W"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.file.close"
            sequence="M1+F4"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="com.deltawalker.ui.file.closeAll"
            sequence="M1+M2+W"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="com.deltawalker.ui.file.closeAll"
            sequence="M1+M2+F4"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="com.deltawalker.ui.file.save"
            sequence="M1+S"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.file.saveAll"
            sequence="M1+M2+S"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.file.print"
            sequence="M1+P"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.undo"
            sequence="M1+Z"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.redo"
            sequence="M1+Y"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.cut"
            sequence="M1+X"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.copy"
            sequence="M1+C"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.paste"
            sequence="M1+V"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
      		commandId="org.eclipse.ui.window.showKeyAssist"
      		contextId="org.eclipse.ui.contexts.dialogAndWindow"
      		sequence="M1+M2+L"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.selectAll"
            sequence="M1+A"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.delete"
            sequence="DEL"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="com.deltawalker.ui.edit.rename"
            sequence="F2"
            schemeId="com.deltawalker.keyConfiguration"/>            
      <key
            commandId="com.deltawalker.ui.edit.copyRight"
            sequence="M1+M3+ARROW_RIGHT"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="com.deltawalker.ui.edit.copyLeft"
            sequence="M1+M3+ARROW_LEFT"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.findReplace"
            sequence="M1+F"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="com.deltawalker.ui.navigate.previousDiff"
            sequence="M1+M2+ARROW_UP"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="com.deltawalker.ui.navigate.nextDiff"
            sequence="M1+M2+ARROW_DOWN"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="com.deltawalker.ui.navigate.previousConflict"
            sequence="M1+6"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="com.deltawalker.ui.navigate.nextConflict"
            sequence="M1+5"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="com.deltawalker.ui.navigate.previousEdit"
            sequence="M1+8"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="com.deltawalker.ui.navigate.nextEdit"
            sequence="M1+7"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.window.openEditorDropDown"
            sequence="M1+E"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.window.switchToEditor"
            sequence="M1+M2+E"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            platform="gtk"
            sequence="M1+M2+E"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.window.switchToEditor"
            platform="gtk"
            sequence="ESC M1+E"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.window.showSystemMenu"
            sequence="M3+-"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.window.showViewMenu"
            sequence="M1+F10"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.window.activateEditor"
            sequence="F12"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.window.maximizePart"
            sequence="M1+M"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.window.nextEditor"
            sequence="M1+F6"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.window.previousEditor"
            sequence="M1+M2+F6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
      <key
            commandId="org.eclipse.ui.window.nextView"
            sequence="M1+F7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
      <key
            commandId="org.eclipse.ui.window.previousView"
            sequence="M1+M2+F7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
      <key
            commandId="org.eclipse.ui.window.previousEditor"
            sequence="M1+M2+F6"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.window.nextView"
            sequence="M1+F7"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.window.previousView"
            sequence="M1+M2+F7"
            schemeId="com.deltawalker.keyConfiguration"/>

      <!-- TextEditor key bindings -->
      <key
            commandId="org.eclipse.ui.edit.text.delete.line"
            sequence="M1+D"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.text.delete.line.to.end"
            sequence="M1+M2+DEL"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.findNext"
            sequence="M1+K"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.findPrevious"
            sequence="M1+M2+K"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.findIncremental"
            sequence="M1+J"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.findIncrementalReverse"
            sequence="M1+M2+J"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.text.goto.line"
            sequence="M1+L"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.text.scroll.lineUp"
            sequence="M1+ARROW_UP"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.text.scroll.lineDown"
            sequence="M1+ARROW_DOWN"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.text.toggleOverwrite"
            sequence="INSERT"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.text.showRulerContextMenu"
            sequence="M1+F10"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <!-- Command+SPACE is spot light on panther, so use Ctrl+SPACE everywhere -->
      <key
            commandId="org.eclipse.ui.edit.text.contentAssist.proposals"
            sequence="CTRL+SPACE"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.text.contentAssist.contextInformation"
            sequence="M1+M2+SPACE"
            schemeId="com.deltawalker.keyConfiguration"/>
      <!-- Command+Q is quit on carbon, so don't overwrite it -->
      <key
            commandId="org.eclipse.ui.edit.text.smartEnter"
            sequence="M2+CR"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.text.smartEnterInverse"
            sequence="M1+M2+CR"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.text.moveLineUp"
            sequence="M3+ARROW_UP"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.text.moveLineDown"
            sequence="M3+ARROW_DOWN"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.text.copyLineUp"
            sequence="M1+M3+ARROW_UP"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.text.copyLineDown"
            sequence="M1+M3+ARROW_DOWN"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.text.upperCase"
            sequence="M1+M2+X"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.text.lowerCase"
            sequence="M1+M2+Y"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.text.deleteNextWord"
            sequence="M1+DEL"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.text.deletePreviousWord"
            sequence="M1+BS"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.edit.text.toggleInsertMode"
            sequence="M1+M2+INSERT"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="com.deltawalker.keyConfiguration"/>
   </extension>
</plugin>
